*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
.gallery{
    width: 100%;
    height: 60vw;
   
    
}
.gallery h4{
    font-size: 18px;
    font-weight: 550;
    color: #ff6600;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 5vw;
    text-align: center;
} 
.photos{
    width: 100%;
    height: 100%;
    margin-top: 5vw; 
    padding-left: 11vw;
   
    
}
.gallery .photos img{
    width: 300px;
    height: 200px;
    padding: 15px 5px;
     
}
.footer{
    width: 100%;
    height: 70vh;
    background-color: rgb(48, 43, 72);
   
    display: flex;
    margin-top: 10vw;
    border-bottom: 1.5px solid rgba(57, 57, 57, 0.937);
 
}
.footer h4{
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #ff6600;
    font-size: 20px;
    font-weight: 550;
   margin-top: 7vw;
   
    
}
.footer .in-touch{
    margin-left: 6vw;
}
.footer .social{
    color: white;
}
.social i{
    padding-top: 1.5vw;
}
.social .social-btn{
    padding-top: 1.5vw;
}
.footer .social-btn a{
    padding-right: 1vw;
    
 } 
 .footer .social-btn i{
     border:1px solid white ;
     color: white;
     padding: 0.7vw;
     border-radius: 6px;
 }
 .footer .social-btn i:hover{
     cursor: pointer;
     background-color: white;
     color: black;
 }
 
.footer .courses{
    margin-left: 9vw;
}
.courses .aplication{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    padding-top: 1vw;
   
}
 .courses .aplication i{
    padding-right: 0.6vw;
} 
.courses .aplication a{
    text-decoration: none;
    color: white;
    padding-top: 0.6vw;
}
.courses .aplication a:hover{
    text-decoration: underline;
}
.footer .newsletter{
    margin-left: 9vw;

}
.newsletter p{
    font-size: 15px;
    font-weight: 500;
    margin-top: 1.8vw;
    color: white;

}
.search{
    display: flex;
}
.search input{
    font-size: 15px;
    margin-top: 0.5vw;
    padding: 1.5vw 2.5vw;
    padding-right: 8vw;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: #ff6600;
    outline: none;
    

}
.search button{
    font-size: 15px;
    margin-top: 0.5vw;
    padding: 1.5vw 2vw;
    background-color: #ff6600;
    color: white;
    border-radius: 0 10px 10px 0;
}
.row{
    width: 100%;
    height: 6vw;
    padding: 2vw;
    display: flex;
    background-color: rgb(48, 43, 72);
     
}.left-footer{
    width: 60%;
    font-size: 15px;
    font-weight: 500;
}
.left-footer p{
    color: white;
}
.left-footer a{
    text-decoration: none;
    color: #ff6600;
}
.left-footer a:hover{
    color: #c15106;
    font-weight: 100;
    text-decoration: underline;
 
}
.right-footer{
    width: 40%;
    padding-left: 12vw;
}
.right-footer a{
    text-decoration: none;
    color: white;
   padding-left: 2.5vw;
}
